/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#kpmenu {
    z-index: 100;
    position: relative;
}

#kpdata {
    z-index: -1;
    padding-top: 60px;
}

.container-fluid {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}

.navbar {
    background-color: white;
}