<div class="container-fluid">
        
        <div class="row justify-content-start" id="kpmenu">
        <div class="col-lg-12">
            <!-- Tähän menu -->
            
            <!-- Tähän navbar tai vastaava menu 'item' -->
            <nav class="navbar navbar-fixed-top navbar-dark">
                <div>
                    <a class="navbar-brand">Kalapäiväkirja</a>
                    <ul class="nav navbar-nav" routerLinkActive="active">
                        <li class="nav-item"><a class="nav-link disabled" routerLink="">Reissut</a></li>
                        <li class="nav-item"><a class="nav-link disabled" routerLink="">Raportit</a></li>
                        <li class="nav-item"><a class="nav-link disabled" routerLink="">info</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Kirjaudu ulos</a></li>
                    </ul>
                </div>
            </nav>
        </div>                      
        </div>
    
        <div class="row justify-content-start" id="kpdata">
            <!-- Tähän alerts route -->
            
            <div class="col-lg-12"> <!-- col-lg-offset-4"> -->
                <h1>Hi {{currentUser[0].etunimi}}!</h1>

                <h3>Kalareissusi</h3>
                
                <table class="table table-hover table-sm" id="trips">
                    <thead>
                    <tr>
                      <th>Id</th><th>Päivä</th><th>Paikka</th><th>Sää</th><th>Tuulen nopeus (m/s)</th>
                      <th>Tuulen suunta</th><th>Ilman lämpö (&#176;C)</th><th>Veden lämpö (&#176;C)</th><th>Poista</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let trip of trips" (click)="setSelectedtrip(trip.idreissu)">
                      <td>{{ trip.idreissu }}</td><td>{{ trip.pvm }}</td><td>{{ trip.paikka }}</td><td>{{ trip.saa }} </td>
                      <td>{{ trip.t_nopeus }}</td><td>{{ trip.t_suunta }}</td><td>{{ trip.l_ilma }}</td><td>{{ trip.l_vesi }}</td>
                      <td><a (click)="deleteTrip(trip.idreissu)">Poista</a></td>
                    </tr>
                    </tbody>
                </table>

                <!-- <h3>Uusi reissu</h3> -->
                <div id="newTrip">
                    <h3>Lisää reissu</h3>

                    <form class="form-inline" name="form" (ngSubmit)="f.form.valid && createTrip()" #f="ngForm" novalidate>
                    
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pvm.valid }">
                        <div for="pvm" style="font-weight: 400;">Päivämäärä</div>
                        <input type="date" class="form-control" name="pvm" [(ngModel)]="newTrip.pvm" #pvm="ngModel" required />
                        <div *ngIf="f.submitted && !pvm.valid" class="help-block">Päivämäärä on pakollinen</div>
                    </div>
                    
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !paikka.valid }">
                        <div for="paikka" style="font-weight: 400;">Paikka</div>
                        <input type="text" class="form-control" name="paikka" [(ngModel)]="newTrip.paikka" #paikka="ngModel" required />
                        <div *ngIf="f.submitted && !paikka.valid" class="help-block">Paikka on pakollinen</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !saa.valid }">
                        <div for="saa" style="font-weight: 400;">Sää</div>
                        <select class="form-control" name="saa" [(ngModel)]="newTrip.saa" #saa="ngModel">
                            <option *ngFor="let saa of saat" [value]="saa.value">  
                            {{saa.display}}
                            </option>
                        </select>
                        <div *ngIf="f.submitted && !saa.valid" class="help-block">Sää on pakollinen</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !t_nopeus.valid }">
                        <div for="t_nopeus" style="font-weight: 400;">Tuulen nopeus (m/s)</div>
                        <input type="number" class="form-control" name="t_nopeus" [(ngModel)]="newTrip.t_nopeus" #t_nopeus="ngModel" />
                        <div *ngIf="f.submitted && !t_nopeus.valid" class="help-block">Tuulen nopeus on pakollinen</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !t_suunta.valid }">
                        <div for="t_suunta" style="font-weight: 400;">Tuulen suunta</div>
                        <select class="form-control" name="t_suunta" [(ngModel)]="newTrip.t_suunta" #t_suunta="ngModel">
                            <option *ngFor="let suunna of suunnat" [value]="suunna.value">  
                            {{suunna.display}}
                            </option>
                        </select>
                        <div *ngIf="f.submitted && !t_suunta.valid" class="help-block">Tuulen suunta on pakollinen</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !l_ilma.valid }">
                        <div for="l_ilma" style="font-weight: 400;">Ilman lämpö (&#176;C)</div>
                        <input type="number" class="form-control" name="l_ilma" [(ngModel)]="newTrip.l_ilma" #l_ilma="ngModel" />
                        <div *ngIf="f.submitted && !l_ilma.valid" class="help-block">Ilman lämpö on pakollinen</div>
                    </div>
                    
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !l_vesi.valid }">
                        <div for="l_vesi" style="font-weight: 400;">Veden lämpö (&#176;C)</div>
                        <input type="number" class="form-control" name="l_vesi" [(ngModel)]="newTrip.l_vesi" #l_vesi="ngModel" />
                        <div *ngIf="f.submitted && !l_vesi.valid" class="help-block">Veden lämpö on pakollinen</div>
                    </div>
                    
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !tili_idtili.valid }">
                        <div for="tili_idtili" style="font-weight: 400;">Käyttäjän ID</div>
                        <input type="number" class="form-control" name="tili_idtili" [(ngModel)]="newTrip.tili_idtili" #tili_idtili="ngModel" required />
                        <div *ngIf="f.submitted && !tili_idtili.valid" class="help-block">Käyttäjän ID on pakollinen</div>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary">Luo kalaretki</button>
                    </div>
                    
                    </form>
                    <button class="btn btn-info" onclick="hideAddTripsElement()">Piilota</button>
                </div>

                <h3>Kalasi</h3>
                
                <table class="table table-hover table-sm" id="catches">
                    <thead>
                    <tr>
                      <th>Id</th><th>Kalalaji</th><th>Paino (g)</th><th>Pituus (cm)</th><th>Pyyntitapa</th>
                      <th>Viehe</th><th>Vieheen väri</th><th>Pyyntiaika</th><th>Reissu ID</th><th>Käyttäjä ID</th><th>Poista</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let catch of catches">
                    <tr *ngIf="catch.reissu_idreissu === this.selectedTrip || this.selectedTrip === undefined">
                      <td>{{ catch.idkalat }}</td><td>{{ catch.laji }}</td><td>{{ catch.paino }}</td><td>{{ catch.pituus }} </td>
                      <td>{{ catch.pyyntitapa }}</td><td>{{ catch.viehe }}</td><td>{{ catch.viehe_vari }}</td><td>{{ catch.saantiaika }}</td>
                      <td>{{ catch.reissu_idreissu }}</td><td>{{ catch.reissu_tili_idtili }}</td>
                      <td><a (click)="deleteCatch(catch.idkalat)">Poista</a></td>
                    </tr>
                    </tbody>
                </table>
                

                <!-- Add fishes -->  
                <div id="newCatch">
                    <h3>Uusi kala</h3>
                    <form class="form-inline" id="fishInputForm">
                    <div class="form-group">
                        <div for="fishTripRefInput" style="font-weight: 400;">Kalareissun ID</div>
                        <input type="text" class="form-control" id="fishTripRefInput">
                    </div>
                    <div class="form-group">
                        <div for="fishSpeciesInput" style="font-weight: 400;">Kalalaji</div>
                        <input type="text" class="form-control" list="species" id="tripSpeciesInput">
                        <datalist id="species">
                            <option value="Ahven">
                            <option value="Allikkosalakka">
                            <option value="Ankerias">
                            <option value="Elaska">
                            <option value="Harjus">
                            <option value="Harmaanieriä">
                            <option value="Hauki">
                            <option value="hietatokko">
                            <option value="hopearuutana">
                            <option value="härkäsimppu">
                            <option value="imukala">
                            <option value="isosimppu">
                            <option value="isotuulenkala">
                            <option value="kampela">
                            <option value="karppi">
                            <option value="kiiski">
                            <option value="kilohaili">
                            <option value="kirjoeväsimppu">
                            <option value="kirjolohi">
                            <option value="kivennuoliainen">
                            <option value="kivinilkka">
                            <option value="kivisimppu">
                            <option value="kolmipiikki">
                            <option value="Kuha">
                            <option value="kuore">
                            <option value="kymmenpiikki">
                            <option value="lahna">
                            <option value="liejutokko">
                            <option value="Lohi">
                            <option value="made">
                            <option value="miekkasärki">
                            <option value="muikku">
                            <option value="mustatokko">
                            <option value="mustatäplätokko">
                            <option value="mutu">
                            <option value="nieriä">
                            <option value="nokkakala">
                            <option value="pasuri">
                            <option value="piikkikampela">
                            <option value="piikkimonni">
                            <option value="piikkisimppu">
                            <option value="pikkutuulenkala">
                            <option value="puronieriä">
                            <option value="rantaneula">
                            <option value="rantanuoliainen">
                            <option value="rasvakala">
                            <option value="ruutana">
                            <option value="salakka">
                            <option value="seipi">
                            <option value="seitsenruototokko">
                            <option value="siika">
                            <option value="silakka">
                            <option value="siloneula">
                            <option value="sorva">
                            <option value="sulkava">
                            <option value="suutari">
                            <option value="särki">
                            <option value="särmäneula">
                            <option value="säyne">
                            <option value="Taimen">
                            <option value="teisti">
                            <option value="toutain">
                            <option value="turpa">
                            <option value="turska">
                            <option value="törö">
                            <option value="valkoevätörö">
                            <option value="vaskikala">
                            <option value="viisipiikki">
                            <option value="vimpa">
                        </datalist>
                    </div>
                    <div class="form-group">
                        <div for="fishWeigthInput" style="font-weight: 400;">Paino (g)</div>
                        <input type="number" class="form-control" id="fishWeigthInput">
                    </div>
                    <div class="form-group">
                        <div for="fishLengthInput" style="font-weight: 400;">Pituus (cm)</div>
                        <input type="number" class="form-control" id="fishLengthInput" placeholder="Pituus">
                    </div>
                    <div class="form-group">
                        <div for="fishCatchTypeInput" style="font-weight: 400;">Pyyntitapa</div>
                        <select class="form-control" id="fishCatchTypeInput">
                            <option>Onki</option>
                            <option>Uistelu</option>
                            <option>Heitto</option>
                            <option>Vertikaali</option>
                            <option>Verkko</option>
                            <option>Katiska</option>
                        </select>
                    </div>  
                    <div class="form-group">
                        <div for="fishLureInput" style="font-weight: 400;">Viehe</div>
                        <input type="text" class="form-control" id="fishLureInput">
                    </div>
                    <div class="form-group">
                        <div for="tripLureColorInput" style="font-weight: 400;">Vieheen väri</div>
                        <input type="text" class="form-control" id="tripLureColorInput">
                    </div>
                    <div class="form-group">
                        <div for="fishTimeInput" style="font-weight: 400;">Pyyntiaika</div>
                        <input type="text" class="form-control" id="fishTimeInput" placeholder="HH:MM">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Luo</button>
                    </div>          
                    </form>
                    <button class="btn btn-info" onclick="hideAddFishesElement()">Piilota</button>
                </div>
                 <!-- end of add fishes -->

                
            </div>
            
        </div>
    
</div>
