<div class="container">
        
        <div class="row justify-content-start" id="kpmenu">
        <div class="col-lg-12">
            <!-- Tähän menu -->
            
            <!-- Tähän navbar tai vastaava menu 'item' -->
            <nav class="navbar navbar-fixed-top navbar-dark">
                <div>
                    <a class="navbar-brand">Kalapäiväkirja</a>
                    <ul class="nav navbar-nav" routerLinkActive="active">
                        <li class="nav-item"><a class="nav-link disabled" routerLink="">Reissut</a></li>
                        <li class="nav-item"><a class="nav-link disabled" routerLink="">Raportit</a></li>
                        <li class="nav-item"><a class="nav-link disabled" routerLink="">info</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Kirjaudu ulos</a></li>
                    </ul>
                </div>
            </nav>
        </div>                      
        </div>
    
        <div class="row justify-content-start" id="kpdata">
            <!-- Tähän alerts route -->
            
            <div class="col-lg-12 col-lg-offset-4">
                <h1>Hi {{currentUser[0].etunimi}}!</h1>
                <!--
                <h3>Kaikki rekisteröityneet käyttäjät:</h3>
                <ul>
                    <li *ngFor="let user of users">
                        {{user.kayttajatunnus}} ({{user.etunimi}} {{user.sukunimi}})
                        - <a (click)="deleteUser(user.idtili)">Poista</a>
                    </li>
                </ul>
                -->
                <h3>Kalareissusi:</h3>
                
                <table class="table table-hover table-sm" id="trips">
                    <thead>
                    <tr>
                      <th>Id</th><th>Päivä</th><th>Paikka</th><th>Sää</th><th>Tuulen nopeus (m/s)</th>
                      <th>Tuulen suunta</th><th>Ilman lämpö (&#176;C)</th><th>Veden lämpö (&#176;C)</th><th>Poista</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let trip of trips">
                      <td>{{ trip.idreissu }}</td><td>{{ trip.pvm }}</td><td>{{ trip.paikka }}</td><td>{{ trip.saa }} </td>
                      <td>{{ trip.t_nopeus }}</td><td>{{ trip.t_suunta }}</td><td>{{ trip.l_ilma }}</td><td>{{ trip.l_vesi }}</td>
                      <td><a (click)="deleteTrip(trip.idreissu)">Poista</a></td>
                    </tr>
                    </tbody>
                </table>

                <h3>Kalasi:</h3>
                
                <table class="table table-hover table-sm" id="catches">
                    <thead>
                    <tr>
                      <th>Id</th><th>Laji</th><th>Paino (g)</th><th>Pituus (cm)</th><th>Pyyntitapa</th>
                      <th>Viehe</th><th>Vieheen väri</th><th>Pyynti aika</th><th>Reissu ID</th><th>Käyttäjä ID</th><th>Poista</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let catch of catches">
                      <td>{{ catch.idkalat }}</td><td>{{ catch.laji }}</td><td>{{ catch.paino }}</td><td>{{ catch.pituus }} </td>
                      <td>{{ catch.pyyntitapa }}</td><td>{{ catch.viehe }}</td><td>{{ catch.viehe_vari }}</td><td>{{ catch.saantiaika }}</td>
                      <td>{{ catch.reissu_idreissu }}</td><td>{{ catch.reissu_tili_idtili }}</td>
                      <td><a (click)="deleteCatch(catch.idkalat)">Poista</a></td>
                    </tr>
                    </tbody>
                </table>

                
            </div>
            
        </div>
    
</div>
